<!DOCTYPE html>
<html>
  <head>
    <title>Meadowlark Travel </title>
    {{{_sections.head}}}

  </head>
  <body>
    <div id="main" class="container">
      <div id="body-contents" class="container">
        {{{_sections.scripts}}}
        {{{body}}}
      </div>
    </div>
  </body>
</html>